html,body{
    overflow: visible;
}

nav{

position:fixed;
top: 50px;
right: o;
right: left;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display:inline-block;
    margin-left: 10px;
}
nav ul li a {
color: black;
display: white;
padding: 15px;
text-decoration: none;
}

nav ul li a :hover{

    background-color: #444;
}
.logo{
    width: 100px;
    height: 80px;
}

.container {
    background-image: url(img/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}